<div class="rounded-2 p-2 grid bg-dark">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">
        <fa-icon class="me-3 nav-icon" icon="home"></fa-icon>
        <div>Home</div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center" routerLink="/search" routerLinkActive="active">
        <fa-icon icon="search" class="me-3 nav-icon"></fa-icon>
        <div>Search</div>
      </a>
    </li>
  </ul>
</div>
