<div class="position-absolute z-2 mt-3 toast-container">
  @for (toast of toastService.toasts; track toast) {
    <ngb-toast
      [class]="toast.className"
      [autohide]="true"
      [delay]="1000"
      (hidden)="toastService.remove(toast)">
      {{ toast.body }}
    </ngb-toast>
  }
</div>
<div class="container-fluid pt-3 vh-100">
  <div class="row height-main-row">
    <div class="d-none d-sm-none d-md-block col-md-3 col-xl-2 navigation pe-2 h-100">
      <app-navigation></app-navigation>
      <app-library></app-library>
    </div>
    <div class="col-12 col-sm-12 col-md-9 col-xl-10 ps-0 h-100">
      <app-header></app-header>
      <div class="rounded-bottom-2 p-3 bg-dark overflow-scroll full-height-main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <footer>
    <app-player class="w-100"/>
  </footer>
</div>
