<div class="flex-column d-flex align-items-center">

  <div class="w-75">
    <h1 class="mb-3 text-start">Add a song</h1>

    <form id="createForm" (ngSubmit)="create()" [formGroup]="createForm">
      <div class="form-floating mb-3 text-secondary">
        <input type="text" class="form-control" id="title"
               [class.is-valid]="createForm.get('title')?.valid"
               [class.is-invalid]="createForm.get('title')?.dirty && createForm.get('title')?.invalid"
               placeholder="Title" formControlName="title"/>
        <label for="title">Title</label>
        @if (createForm.get('title')?.dirty && createForm.get('title')?.hasError('required')) {
          <div class="invalid-feedback">
            Title is required
          </div>
        }
      </div>
      <div class="form-floating mb-3 text-secondary">
        <input type="text" class="form-control" id="author"
               [class.is-valid]="createForm.get('author')?.valid"
               [class.is-invalid]="createForm.get('author')?.dirty && createForm.get('author')?.invalid"
               placeholder="Author" formControlName="author"/>
        <label for="author">Author</label>
        @if (createForm.get('author')?.dirty && createForm.get('author')?.hasError('required')) {
          <div class="invalid-feedback">
            Author is required
          </div>
        }
      </div>
      <div class="form-floating mb-3 text-secondary file">
        <input type="file" class="form-control" id="cover"
               [class.is-valid]="createForm.get('cover')?.valid"
               placeholder="Cover" formControlName="cover"
               accept=".jpg,.jpeg,.png,.svg"
               (change)="onUploadCover($event.target)"/>
        <label for="File">Cover</label>
      </div>
      <div class="form-floating mb-3 text-secondary file">
        <input type="file" class="form-control" id="file"
               [class.is-valid]="createForm.get('file')?.valid"
               placeholder="File" formControlName="file"
               accept=".wav,.mp3"
               (change)="onUploadFile($event.target)"/>
        <label for="File">MP3</label>
      </div>
      <div class="d-grid">
        <button class="btn btn-primary" [disabled]="createForm.invalid || isCreating" type="submit">
          @if(!isCreating) {
            <div>Add</div>
          } @else if(isCreating) {
            <div class="d-flex align-items-center justify-content-center">
              <fa-icon icon="circle-notch" class="me-2" animation="spin"></fa-icon>
              <div>Adding in progress...</div>
            </div>
          }
        </button>
      </div>
    </form>
    @if(flowStatus == 'error' || flowStatus == 'validation-cover-error' || flowStatus == 'validation-file-error') {
      <ngb-alert [dismissible]="false" type="danger" class="d-flex align-items-center justify-content-center mt-3">
        <fa-icon class="me-2" icon="circle-xmark" size="2x"></fa-icon>
        <div>
          @if(flowStatus ==  'validation-cover-error') {
            Something is wrong with the cover file
          }
          @if(flowStatus ==  'validation-file-error') {
            Something is wrong with the MP3 file
          }
          @if(flowStatus ==  'error') {
            Something is wrong when create the song
          }
        </div>
      </ngb-alert>
    }
  </div>

</div>
