@import "../../../assets/scss/bootstrap-variables";

.library-height {
  height: $library-height;
}

.library-songs {
  overflow-y: scroll;
}

.library-song-card {
  cursor: pointer;
}

.library-song-card:hover {
  background-color: $card-hover-background;
  border-radius: $card-border-radius;
}
